*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer {
    display: flex;
}

.formContainer > input {
    flex: 1;
    padding: 5px 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background: gold;

}

.nav {
    padding: 20px 20px;
    /* width: 100vw; */
    background: rgb(158, 244, 194);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu > li {
    list-style: none;
    margin-right: 10px;
}

.midContainer {
    width: 100%;
    height: 80vh;
    background-color: violet;
    display: flex;
}

.sidebar {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    color: white;
}

.main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ffff;
}

